* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-decoration: none !important;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

div.pacman.highlighted {
    display: none;
}

.pacman {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #000;
    margin: 0 auto;
    text-align: center;

    p {
        position: absolute;
        left: 48.7%;
        top: 58.5%;
        color: white;
    }
}

.pacman>div:nth-child(1),
.pacman>div:nth-child(2) {
    width: 0;
    height: 0;
    border: 37.5px solid #5918df;
    border-right-color: transparent;
    border-radius: 50%;
    left: 45%;
    top: 46%;
    animation: rotate_pacman_half_up .5s infinite;
    position: relative;
}

.pacman>div:nth-child(2) {
    animation-name: rotate_pacman_half_down;
    margin-top: -75px;
}

.pacman>div:nth-child(3),
.pacman>div:nth-child(4),
.pacman>div:nth-child(5) {
    animation: pacman-balls 1s infinite linear;
    background-color: white;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 50%;
    left: 55%;
}

.pacman>div:nth-child(3) {
    animation-delay: -0.66s;
}

.pacman>div:nth-child(4) {
    animation-delay: -0.33s;
}

@keyframes rotate_pacman_half_up {
    0% {
        transform: rotate(270deg);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

@keyframes rotate_pacman_half_down {
    0% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(90deg);
    }
}

@keyframes pacman-balls {
    75% {
        opacity: .7;
    }

    100% {
        transform: translateX(-93.75px);
    }
}

header {
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-image: url('https://yasio.dev/assets/img/bg.87635d9.webp');
    min-height: 560px;

    #navbar {
        padding: 7px 14%;
        background-color: transparent !important;

        .navbar-nav {
            display: flex;
            width: 100%;
            justify-content: end;

            .nav-item {
                font-size: 1rem;
                font-weight: 500;
                padding: 0 20px;
                transition: .3s;

                &:hover {
                    background-color: #5918df;
                }
            }
        }

        .navbar-brand {
            color: white;
            border: none;
            outline: none;

            span {
                color: #5918df;
            }
        }

        .navbar-nav {
            li a {
                color: white;

            }
        }

        #navbar-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(234, 234, 234, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

        }
    }

    #home {
        padding: 120px 14%;

        .lt-paragraph {
            p {
                font-size: 24px;
                color: #988e9f;
            }

        }

        .section-title {
            position: relative;
            opacity: 0;
            animation: appear-text 0.0001s linear forwards;
            animation-delay: 3s;
            display: inline-block;
            color: #988e9f;

            &:after {
                content: '';
                top: 0;
                left: 0;
                position: absolute;
                width: 0%;
                height: 100%;
                background: white;
                animation: rev-block 3.1s cubic-bezier(0.19, 1, 0.22, 1) forwards;
                animation-delay: 1.6s;
            }
        }

        .block-reveal-second {
            position: relative;
            opacity: 0;
            animation: appear-text 0.0001s linear forwards;
            animation-delay: 1.4s;
            display: inline-block;

            &:after {
                content: '';
                top: 0;
                left: 0;
                position: absolute;
                width: 0%;
                height: 100%;
                background: #5918df;
                animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
                animation-delay: 1s;
            }
        }

        .block-reveal-third {
            position: relative;
            opacity: 0;
            animation: appear-text 0.0001s linear forwards;
            animation-delay: 2.2s;
            display: inline-block;
            padding-right: 4px;

            &:after {
                content: '';
                top: 0;
                left: 33px;
                position: absolute;
                width: 0%;
                height: 100%;
                background: #5918df;
                animation: rev-block 2.3s cubic-bezier(0.19, 1, 0.22, 1) forwards;
                animation-delay: 1.2s;
            }
        }

        .block-reveal-fourth {
            position: relative;
            opacity: 0;
            animation: appear-text 0.0001s linear forwards;
            animation-delay: 3.7s;
            display: inline-block;


            &:after {
                content: '';
                top: 0;
                left: 0;
                position: absolute;
                width: 0%;
                height: 100%;
                background: white;
                animation: rev-block 3.8s cubic-bezier(0.19, 1, 0.22, 1) forwards;
                animation-delay: 1.85s;
            }
        }

        .block-reveal-fifth {
            position: relative;
            opacity: 0;
            animation: appear-text 0.0001s linear forwards;
            animation-delay: 4.8s;
            display: inline-block;

            &:after {
                content: '';
                top: 0;
                left: 0;
                position: absolute;
                width: 0%;
                height: 100%;
                background: white;
                animation: rev-block 4.9s cubic-bezier(0.19, 1, 0.22, 1) forwards;
                animation-delay: 2.4s;
            }
        }


        @keyframes rev-block {

            0% {
                left: 0;
                width: 0%;
            }

            50% {
                left: 0;
                width: 100%;
            }

            100% {
                left: 100%;
                width: 0%;
            }

        }

        @keyframes appear-text {

            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }

        }

        #onemore {
            top: 51%;
            left: 58%;
        }

        #onemore span {
            animation-delay: 2s;
        }

        #onemore.rev-block:after {
            background: #5e239d;
            animation-delay: 1.4s;
        }

        @media only screen and (max-width: 900px) {
            h1 {
                font-size: 20px;
                padding: 0.4em;
            }
        }


        .home-img {
            img {
                height: auto;
                max-width: 100%;
                width: 500px;
            }

        }


        .home-text {


            h5 {
                font-size: 18px;
                font-weight: 500;
                color: #988e9f;
                margin-bottom: 25px;
            }

            h1 {
                font-size: 48px;
                font-weight: 700;
                color: white;
                margin-bottom: 25px;
                margin-top: 18px;
            }

            h6 {
                font-weight: 500;
                font-size: 18px;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-bottom: 16px;
                color: white;
            }

            span {
                color: #5918df;
            }

            p {
                max-width: 470px;
                font-weight: 300;
                line-height: 2rem;
                margin-bottom: 1.5rem;
                color: #bfbfbf;
            }

            .btn-main {
                padding: 0 25px;
                display: inline-block;
                color: white;
                background-color: #5918df;
                box-shadow: 4px 4px #dedede;
                line-height: 42px;
                transition: .3s ease-in-out;
                // position: relative;
                // opacity: 0;
                // animation: appear-text 0.0001s linear forwards;
                // animation-delay: 1.4s;
                display: inline-block;

                &:hover {
                    background-color: white;
                    color: #5918df;
                }
            }
        }

    }

}

#about {
    padding: 0 14%;
    position: relative;
    overflow: hidden;
    background-color: #14121C;
    min-height: 560px;

    &::after {
        content: "";
        width: 100%;
        left: 0;
        bottom: -100px;
        height: 100px;
        box-shadow: 0 0 80px 0 #07060a;
        position: absolute;
    }

    .about-content {


        .code-wrp {
            font-size: 16px;
            line-height: 1.6;


        }

        .cursor {
            display: inline-block;
            padding-left: 6px;
            padding-right: 9px;
        }

        .cursor:before {
            opacity: 0;
            content: "|";
            -webkit-animation: blink .8s infinite;
            animation: blink .8s infinite;
            padding-left: 3px;
        }

        @-webkit-keyframes blink {
            to {
                opacity: 0
            }
        }

        @keyframes blink {
            0% {
                opacity: 0
            }

            50% {
                opacity: 1
            }

            to {
                opacity: 0
            }
        }

        .code-l {
            z-index: 1;
            position: relative;
            color: white;

            &:after {
                content: attr(data-line-nr);
                position: absolute;
                left: -60px;
                color: rgb(189, 183, 175);
                font-size: 16px;
                line-height: 1.6;
                z-index: 3;
                top: 0;
            }

            &:hover {
                position: relative;

                &:before {
                    top: 0;
                    width: 300%;
                    left: -42%;
                    position: absolute;
                    content: "";
                    height: 100%;
                    z-index: -2;
                    background-color: #231d28;
                }
            }
        }

        .methods {
            color: #5918df;
            ;
            display: inline;
        }

        .propname {
            color: #eeff31;
            ;
        }

        .dot {
            color: #3b3553;
            display: inline;
        }

        .comment {
            color: #78707e;
            display: inline;
        }

        .scope {
            color: #e3244c;
            display: inline;
        }

        .prop2 {
            color: #24e394;
        }

        .string {
            color: #24e33a;
        }

        .number {
            color: #e39d24;
        }


        .section-title {
            color: rgb(166, 158, 147);
        }

        h3 {
            font-size: 30px;
            font-weight: 300;
            letter-spacing: 6px;
            margin-bottom: 30px;
            color: white;
        }

        h2 {
            font-weight: 500;
            margin-bottom: 2rem;
            font-size: 32px;
            max-width: 470px;
            line-height: 1.2;
            color: white;
        }

        p {
            max-width: 570px;
            margin-bottom: 1.5rem;
            line-height: 1.8rem;
            font-weight: 300;
            color: #858383;
            font-size: 16px;
        }

        .btn-main {
            padding: 0 25px;
            display: inline-block;
            color: white;
            background-color: #5918df;
            box-shadow: 4px 4px #dedede;
            line-height: 42px;
            transition: .3s ease-in-out;
            font-size: 18px;

            &:hover {
                background-color: white;
                color: #5918df;
            }
        }
    }
}

#work {

    padding: 120px 14%;
    background-color: #14121C;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 5rem;
    align-items: center;

    .work-content {
        .section-title {
            color: rgb(166, 158, 147);
        }

        .project-title {
            position: absolute;
            left: -21%;
            z-index: 1;
            top: 6%;

            .project_text {
                font-size: 24px;
            }

            .project_sub_text {
                font-size: 14px;
                color: #988e9f;
            }
        }

        .divider {
            width: 100%;
            height: 3px;
            background-color: #fff;
            margin: 0 1px 13px;
        }

        $size: 300px;

        .flex-container,
        .c-logo {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-content: stretch;
            align-items: center;
            gap: 12rem;
        }


        .second-work {
            background: #86b7fe;
        }

        .c-logo {
            width: 432px;
            height: auto;
            box-shadow: 0 20px 27px rgba(0, 0, 0, 0.05);
            background-position: center;
            background-size: cover;
            color: white;
            text-decoration: none;
            font-size: 4em;
            font-weight: 300;
            transform-style: preserve-3d;
            transform: perspective(500px);
            box-shadow: 0 20px 70px -10px rgba(black, .7), 0 50px 100px 0 rgba(black, .2);

            img {
                width: 100%;
                height: 158px;

            }

            .second-img {
                width: 50%;
            }


            >span {
                display: block;
                transform: translateZ(50px) scale(.6);
                text-shadow: -2px -1px 2px rgba(150, 150, 150, 1);
            }

            &:hover {
                &:after {
                    transform: translateZ(-100px);
                }
            }
        }


    }

}

#copyright {

    padding: 0px 14%;

    small {
        color: #988e9f;
        font-size: 12.5px;
    }
}

#contact {
    background-color: black;

    .section-title {
        color: rgb(166, 158, 147);
        padding-top: 30px;
        display: block;
    }

    .contact_title {
        padding-top: 80px;
        padding-bottom: 10px;
    }

    .text {
        h3 {
            color: white;
            margin-bottom: 28px;
            padding-top: 23.5px;
        }
    }

    .contact-form {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4, 2rem;

        form {
            position: relative;
            width: 550px;
            display: flex;
            flex-direction: column;
            gap: 0.2rem;

            input,
            textarea {
                width: 100%;
                padding: 20px;
                background-color: #0b0b13;
                border: none;
                outline: none;
                color: white;
                margin-bottom: 0.5rem;
                border-radius: 5px;

                &::placeholder {
                    color: white;
                }

            }

            textarea {
                resize: none;
                height: 200px;

            }
        }

        .btn-main {
            padding: 0 25px;
            display: inline-block;
            color: white;
            background-color: #5918df;
            line-height: 42px;
            transition: .3s ease-in-out;

            &:hover {
                background-color: white;
                color: #5918df;
            }
        }
    }


}

@media (max-width: 767px) {

    header {
        #navbar {
            padding: 7px 3%;

            .navbar-collapse {
                margin-left: -5px;
                margin-right: -16px;
            }

            .navbar-nav {
                text-align: left;

                .nav-item {

                    padding: 0px;

                    a {
                        color: white;
                        display: block !important;
                        padding: 1rem;
                        border-left: 2px solid #5918df;
                    }
                }
            }
        }
    }

    #home {
        padding: 80px 3%;
        text-align: center;
        display: block !important;

        .home-text {
            h1 {
                font-size: 1.8rem;
                margin-bottom: 17px;
            }

            h5 {
                font-size: 22px;
                font-weight: 500;
                color: white;
                margin-bottom: 16px;
            }

            p {
                max-width: 100%;
            }
        }

        .home-img {
            margin-top: 40px;

            img {
                width: 415px;
            }
        }

    }

    #about {
        padding: 7px 3%;
        grid-template-columns: 1fr;
        text-align: center;

        .about-img {
            order: 2;

            img {
                width: 455px;
            }
        }

        .about-content {
            h2 {
                max-width: 100%;
                color: white !important;
            }

            p {
                max-width: 100%;
            }

            .main-btn {
                justify-content: center;

                .btn-main {
                    padding: 0 6px;
                    display: inline-block;
                    color: white;
                    background-color: #5918df;
                    box-shadow: 4px 4px #dedede;
                    line-height: 42px;
                    transition: 0.3s ease-in-out;
                    font-size: 19px;
                }
            }
        }



    }

    #work {
        .work-content {
            .c-logo {
                width: 320px;
            }
        }

        .project-title {
            top: -41% !important;
            left: -28% !important;
        }
    }

    #contact {
        padding: 47px 3%;

        .text {
            h3 {
                color: white;
                margin-bottom: 28px;
            }
        }

        .content-wrapper {
            .close {
                top: 14%;
                z-index: 111111111;
                right: 1%;
            }
        }

        .wrapper {
            .back {
                background: transparent !important;
            }

        }

        .registration-form {
            width: 100% !important;
        }

    }

}

@media (min-width: 767px) and (max-width: 992px) {



    header {
        #navbar {
            padding: 7px 6%;

            .navbar-collapse {
                margin-left: -19px;
                margin-right: 10px;
            }

            .navbar-nav {
                text-align: left;

                .nav-item {

                    padding: 0px;

                    a {
                        color: white;
                        display: block !important;
                        padding: 1rem;
                        border-left: 2px solid #5918df;
                    }
                }
            }
        }
    }

    #home {
        padding: 80px 6%;
        text-align: center;
        display: block !important;

        .home-text {
            h1 {
                font-size: 1.8rem;
                margin-bottom: 17px;
            }

            h5 {
                font-size: 22px;
                font-weight: 500;
                color: white;
                margin-bottom: 16px;
            }

            p {
                max-width: 100%;
            }
        }

        .home-img {
            margin-top: 40px;

            img {
                width: 415px;
            }
        }

    }

    #about {
        padding: 7px 6%;
        grid-template-columns: 1fr;
        text-align: center;

        .about-img {
            order: 2;

            img {
                width: 455px;
            }
        }

        .about-content {


            h2 {
                max-width: 100%;
                color: white !important;
            }

            p {
                max-width: 100%;
            }

            .main-btn {
                justify-content: center;

                .btn-main {
                    padding: 0 6px;
                    display: inline-block;
                    color: white;
                    background-color: #5918df;
                    box-shadow: 4px 4px #dedede;
                    line-height: 42px;
                    transition: 0.3s ease-in-out;
                    font-size: 19px;
                }
            }
        }



    }

    #contact {
        padding: 47px 6%;

        .text {
            h3 {
                color: white;
                margin-bottom: 28px;
            }
        }

        .content-wrapper {
            width: 91%;

            .close {
                top: 3%;
                z-index: 111111111;
                right: 3%;
            }
        }

        .registration-form {
            width: 73% !important;
        }
    }

}

@media (min-width: 992px) and (max-width: 1200px) {

    header {
        #navbar {
            padding: 7px 11%;

            .navbar-collapse {
                margin-left: -19px;
                margin-right: 10px;
            }
        }
    }

    #home {
        padding: 80px 11%;
        display: flex !important;

        .home-text {
            h1 {
                font-size: 3.2rem;
                margin-bottom: 17px;
            }

            h5 {
                font-size: 22px;
                font-weight: 500;
                color: white;
                margin-bottom: 16px;
            }

            p {
                max-width: 100%;
            }
        }

        .home-img {
            img {
                width: 495px;
            }
        }

    }

    #about {
        padding: 7px 11%;

        .about-img {
            img {
                width: 455px;
            }
        }

        .about-content {
            h2 {
                max-width: 100%;
                color: white !important;
            }

            p {
                max-width: 100%;
            }

            .main-btn {

                .btn-main {
                    padding: 0 6px;
                    display: inline-block;
                    color: white;
                    background-color: #5918df;
                    box-shadow: 4px 4px #dedede;
                    line-height: 42px;
                    transition: 0.3s ease-in-out;
                    font-size: 19px;

                    &:hover {
                        background-color: white;
                        color: #5918df;
                    }
                }
            }
        }



    }

    #contact {
        padding: 47px 6%;

        .text {
            h3 {
                color: white;
                margin-bottom: 28px;
            }
        }

        
        .content-wrapper {
            width: 61% !important;

            .close {
                top: 3%;
                z-index: 111111111;
                right: 3%;
            }
        }

        .registration-form {
            width: 73% !important;
        }
    }

}

.overflow {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

#contact {
    padding: 0 14%;

    .contact_title {
        h2 {
            font-size: 22px;
            color: white;
        }
    }

    textarea {
        resize: none;
        padding-left: 16px;
        padding-top: 8px;
    }

    .contact-index {
        .logo_contact {
            padding-right: 17px;
        }

        .tryhackme_logo{
            .logo_contact{
                padding-right: 13px;
            }
        }

        i {
            font-size: 21px;
        }

        img {
            width: 10%;
        }

        a {
            display: flex;
            color: #5918df;
            padding-bottom: 8px;
        }
    }

    .wrapper {
       height: 17vh;
        background-color: black;

        #toggle {
            visibility: hidden;
            opacity: 0;
            position: relative;
            z-index: -1;
            width: 0px;
        }

        #toggle:checked~dialog {
            display: block;
        }

        #toggle:checked~.modal-content {
            display: block;
        }



        .modal-content {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1050;
            height: min-content;
            display: none;
            width: 100%;
            height: 100%;
            outline: 0;
            overflow-x: hidden !important;
            overflow-y: auto !important;
            background-color: black;
        }

        .contact-table {
            padding-top: 15px;
            display: inline-block;
            background-color: #0069d9;
            border-color: #0062cc;
            color: white;
            margin-top: 34px;
            padding: .5em 1em;
            border-radius: 4px;
            padding: 17px 35px;
            font-size: 20px;
            text-align: center;
            line-height: 1;
            border-radius: 50px;
            background-size: 1100%;
            border: none;
            transition: transform .3s cubic-bezier(.175, .885, .32, 1.275), bottom .3s cubic-bezier(.175, .885, .32, 1.275), background-position 3s cubic-bezier(.455, .03, .515, .955);
            position: relative;

            &:hover {
                transform: scale3d(1.1, 1.1, 1);
                background-position: 100% 50%;
                bottom: 2px;
            }
        }

        .modal-close {
            position: absolute;
            top: -154%;
            left: 910px;
            color: white;
            font-size: 20px;
        }

        @keyframes appear {
            0% {
                opacity: 0;
                transform: translateY(-10px);
            }
        }

        dialog {
            max-width: 500px;
            position: relative;
        }

        .circular-progress-bar {
            position: relative;
            margin: 0 auto;
        }

        .progress-percentage,
        .progress-text {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            padding: 0px 60px;
        }

        .progress-percentage {
            font-size: 60px;
            transform: translate(-50%, -85%);
        }

        .progress-text {
            transform: translate(-50%, 0%);
            color: #585858;
            font-size: 21px;
        }

        $input-height: 75px;

        .back {
            background: linear-gradient(120grad, rgb(100, 57, 134), rgb(152, 174, 213));
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .registration-form {
            position: absolute;
            z-index: 111111111111;
            background: transparent;

            .modal-title {
                position: relative;
                z-index: 5;
                background: white;
                padding: 39px 15px;

                h1 {
                    font-weight: 900;
                    letter-spacing: 1.5px;
                    color: #333;
                    font-size: 23px;
                }

                p {
                    word-spacing: 0px;
                    color: rgb(159, 172, 182);
                    font-size: 17px;
                    margin: 0;
                    margin-top: 5px;
                }
            }

            form {
                position: relative;
            }

            .input-section {
                width: 100%;
                position: absolute;
                display: flex;
                left: 50%;
                transform: translate(-50%, 0);
                height: $input-height;
                border-radius: 0 0 15px 15px;
                overflow: hidden;
                z-index: 2;
                box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
                transition: all 0.2s ease-in;

                &.folded {
                    width: 95%;
                    margin-top: 10px;
                    left: 50%;
                    transform: translate(-50%, 0);
                    z-index: 1;

                    input {
                        background-color: rgb(233, 226, 192);
                    }

                    span {
                        background-color: rgb(233, 226, 192);
                    }
                }

                &.folded+.folded {
                    width: 90%;
                    margin-top: 20px;
                    left: 50%;
                    transform: translate(-50%, 0);
                    z-index: 0;

                    input {
                        background-color: rgb(225, 188, 239);
                    }

                    span {
                        background-color: rgb(225, 188, 239);
                    }
                }

                &.fold-up {
                    margin-top: -$input-height;
                }
            }

            form input {
                background: lighten(rgb(243, 243, 251), 5%);
                color: rgb(143, 143, 214);
                width: 80%;
                border: 0;
                padding: 20px 40px;
                margin: 0;

                &:focus {
                    outline: none;
                }

                &::placeholder {
                    color: rgb(143, 143, 214);
                    font-weight: 100;
                }
            }
        }

        .animated-button {
            width: 20%;
            background-color: rgb(212, 212, 255);

            span {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                line-height: $input-height;
                text-align: center;
                height: $input-height;
                transition: all 0.2s ease-in;

                i {
                    font-size: 25px;
                    color: rgb(153, 153, 248);
                }
            }

            .next-button {
                background: transparent;
                color: rgb(153, 153, 248);
                font-weight: 100;
                width: 100%;
                border: 0;
            }
        }

        .next {
            margin-top: -$input-height;
        }

        .success {
            width: 100%;
            position: absolute;
            display: flex;
            align-items: center;
            left: 50%;
            transform: translate(-50%, 0);
            height: $input-height;
            border-radius: 0 0 15px 15px;
            overflow: hidden;
            z-index: 2;
            box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
            transition: all 0.2s ease-in;
            background: white;
            margin-top: -$input-height;


            p {
                color: black;
                font-weight: 900;
                letter-spacing: 2px;
                font-size: 18px;
                width: 100%;
                padding-left: 19px;
            }
        }
    }
}

.contact-btn {
    @keyframes appear {
        0% {
            opacity: 0;
            transform: translateY(-10px);
        }
    }

    dialog {
        max-width: 500px;
        position: relative;
    }

    .circular-progress-bar {
        position: relative;
        margin: 0 auto;
    }

    .progress-percentage,
    .progress-text {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 0px 60px;
    }

    .progress-percentage {
        font-size: 60px;
        transform: translate(-50%, -85%);
    }

    .progress-text {
        transform: translate(-50%, 0%);
        color: #585858;
        font-size: 21px;
    }

    $input-height: 75px;

    .back {
        background: linear-gradient(120grad, rgb(100, 57, 134), rgb(152, 174, 213));
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 5%;
    }

    .registration-form {
        position: absolute;
        z-index: 111111111111;
        width: 61% !important;
        background: transparent;
        margin-top: -5rem;

        textarea {
            resize: none;
        }

        .modal-title {
            position: relative;
            z-index: 5;
            background: white;
            padding: 39px 15px;

            h1 {
                font-weight: 900;
                letter-spacing: 1.5px;
                color: #333;
                font-size: 23px;
            }

            p {
                word-spacing: 0px;
                color: rgb(159, 172, 182);
                font-size: 17px;
                margin: 0;
                margin-top: 5px;
            }
        }

        form {
            position: relative;
        }

        .input-section {
            width: 100%;
            position: absolute;
            display: flex;
            left: 50%;
            transform: translate(-50%, 0);
            height: $input-height;
            border-radius: 0 0 15px 15px;
            overflow: hidden;
            z-index: 2;
            box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
            transition: all 0.2s ease-in;

            &.folded {
                width: 95%;
                margin-top: 10px;
                left: 50%;
                transform: translate(-50%, 0);
                z-index: 1;

                input {
                    background-color: rgb(233, 226, 192);
                }

                span {
                    background-color: rgb(233, 226, 192);
                }
            }

            &.folded+.folded {
                width: 90%;
                margin-top: 20px;
                left: 50%;
                transform: translate(-50%, 0);
                z-index: 0;

                input {
                    background-color: rgb(225, 188, 239);
                }

                span {
                    background-color: rgb(225, 188, 239);
                }
            }

            &.fold-up {
                margin-top: -$input-height;
            }
        }

        form input {
            background: lighten(rgb(243, 243, 251), 5%);
            color: rgb(143, 143, 214);
            width: 80%;
            border: 0;
            padding: 20px 40px;
            margin: 0;

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: rgb(143, 143, 214);
                font-weight: 100;
            }
        }
    }

    .animated-button {
        width: 20%;
        background-color: rgb(212, 212, 255);

        span {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            line-height: $input-height;
            text-align: center;
            height: $input-height;
            transition: all 0.2s ease-in;

            i {
                font-size: 25px;
                color: rgb(153, 153, 248);
            }
        }

        .next-button {
            background: transparent;
            color: rgb(153, 153, 248);
            font-weight: 100;
            width: 100%;
            border: 0;
        }
    }

    .next {
        margin-top: -$input-height;
    }

    .success {
        width: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        left: 50%;
        transform: translate(-50%, 0);
        height: $input-height;
        border-radius: 0 0 15px 15px;
        overflow: hidden;
        z-index: 2;
        box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
        transition: all 0.2s ease-in;
        background: white;
        margin-top: -$input-height;


        p {
            color: black;
            font-weight: 900;
            letter-spacing: 2px;
            font-size: 18px;
            width: 100%;
            padding-left: 19px;
        }
    }



    $base-duration: 0.25s;

    // Colors
    $primary: slategray;
    $accent: #5918df;
    ;
    $white: whitesmoke;
    $green: #2ecc71;
    $red: #e74c3c;

    // Breakpoints
    $sm: 20rem;
    $med: 48rem;
    $lg: 64rem;

    *,
    *:before,
    *:after {
        box-sizing: border-box;
        outline: none;
    }

    html {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        font-smooth: auto;
        font-weight: 300;
        line-height: 1.5;
        color: #444;
        background-color: $primary;
    }

    button {
        cursor: pointer;
    }

    body {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
    }

    .pdfobject-container {
        height: 30rem;
        border: 1rem solid rgba(0, 0, 0, .1);
    }

    .trigger {
        padding: 0.625rem 1.25rem;
        border: none;
        border-radius: 0.25rem;
        box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.12), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.24);
        transition: all $base-duration cubic-bezier(.25, .8, .25, 1);
        font-size: 0.875rem;
        font-weight: 300;

        i {
            margin-right: 0.3125rem;
        }

        &:hover {
            box-shadow: 0 0.875rem 1.75rem rgba(0, 0, 0, 0.25), 0 0.625rem 0.625rem rgba(0, 0, 0, 0.22);
        }
    }

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 0vh;
        background-color: transparent;
        overflow: hidden;
        transition: background-color $base-duration ease;
        z-index: 9999;

        &.open {
            position: fixed;
            width: 100%;
            height: 100vh;
            background-color: black;
            transition: background-color $base-duration;

            >.content-wrapper {
                transform: scale(1.0);
            }
        }

        header {
            height: auto !important;
            min-height: auto !important;
        }

        .content-wrapper {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 55%;
            height: 72%;
            margin: 0;
            border-radius: 0.3125rem;
            box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.5);
            transform: scale(0.0);
            transition: transform $base-duration;
            transition-delay: 0.15s;

            .close {
                position: absolute;
                top: -16%;
                z-index: 111111111;
                right: -39%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 2.5rem;
                height: 2.5rem;
                border: none;
                background-color: transparent;
                font-size: 1.5rem;
                transition: $base-duration linear;

                &:before,
                &:after {
                    position: absolute;
                    content: '';
                    width: 1.25rem;
                    height: 0.125rem;
                    background-color: white;
                }

                &:before {
                    transform: rotate(-45deg);
                }

                &:after {
                    transform: rotate(45deg);
                }

                &:hover {
                    transform: rotate(360deg);

                    &:before,
                    &:after {
                        background-color: $accent;
                    }
                }
            }

            .modal-header {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin: 0;
                padding: 0 0 1.25rem;

                h2 {
                    font-size: 1.5rem;
                    font-weight: bold;
                }
            }

            .content {
                position: relative;
                display: flex;

                p {
                    font-size: 0.875rem;
                    line-height: 1.75;
                }
            }

            .modal-footer {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 100%;
                margin: 0;
                padding: 1.875rem 0 0;

                .action {
                    position: relative;
                    margin-left: 0.625rem;
                    padding: 0.625rem 1.25rem;
                    border: none;
                    background-color: $primary;
                    border-radius: 0.25rem;
                    color: white;
                    font-size: 0.87rem;
                    font-weight: 300;
                    overflow: hidden;
                    z-index: 1;

                    &:before {
                        position: absolute;
                        content: '';
                        top: 0;
                        left: 0;
                        width: 0%;
                        height: 100%;
                        background-color: rgba(255, 255, 255, 0.2);
                        transition: width $base-duration;
                        z-index: 0;
                    }

                    &:first-child {
                        background-color: $green;
                    }

                    &:last-child {
                        background-color: $red;
                    }

                    &:hover {
                        &:before {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}